<div class="well">
  <h2>
    <strong>Area Name:</strong>
    <%= @area.name %>
  </h2>
  <h2>
    <strong>Cost per employee (monthly):</strong>
    <%= @area.cost %>
  </h2>

  <%= link_to 'Edit', edit_area_path(@area), class: 'btn btn-warning' %> |
  <%= link_to 'Back', areas_path, class: 'btn btn-primary' %>
</div>